<div class="container">
    <div class="jumbotron">
        <h1 id="blah">NO</h2>
        <p id="sentence">(the weather in <%= "Chicago" %> is <%= "not "  %>weird.)</p>
    </div>
    <div class="row">
        <div class="col-lg-12" id="graphWrapper">
        </div>
    </div>
</div>
<div style="display: none;">
    Blah
</div>