<div class="container">
    <div class="jumbotron">
        <h1 id="blah"><%= @weird ? "YES" : "NO" %><%= @max_forecast %></h2>
        <p id="sentence">(the weather in <%= @place.name %> is <%= "not " if !@weird %>weird.)</p>
    </div>
    <div class="row">
        <div class="col-lg-12" id="maxGraphWrapper" class="graphWrapper">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" id="minGraphWrapper" class="graphWrapper">
        </div>
    </div>
    <hr>
    <footer>
        <p>by Eric Potash and Jonah Bloch-Johnson. Code on <a href="https://github.com/jsbj/istheweatherweird">github.com</a></p>
    </footer>
</div>

